/* Add these styles to your CSS file */

/* Playarea */
.playarecontainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.playarecontainer img {
  border-radius: 50%;
  height: 35px;
}
/* Comments */

.action-button {
  background-color: #6c95ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.user {
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}
.user p:last-child {
  font-size: 12px;
}
