#root {
  margin: 0;
  padding: 0;
}

.loading {
  font-weight: bold;
  animation: pop 1.5s infinite;
}
body {
  background: #c4c4c4;
}
@keyframes pop {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.containerv {
  max-width: 1200px;
  margin-top: 70px;
  /* margin: 20px auto; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;

  position: relative;
  transition: transform 0.2s ease-in-out;
}

.video {
  width: 100%;
  height: 190px;
  object-fit: contain;

  aspect-ratio: 16/9;
  display: block;
  border-bottom: 1px solid #ddd;
}

.video-details {
  display: flex;
  padding: 0px 15px;
}
@media (max-width: 420px) {
  .video-card {
    width: 330px;
  }
  .comment {
    margin-right: 15px;
    color: #6c95ff;
    border: none;
  }
  .comment svg {
    color: #000;
  }
  .video-details {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .rightd h3 {
    line-height: 1;
    margin-bottom: 0;
  }
  .rightd {
    margin-top: -25px;
  }
}
.leftd {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;

  overflow: hidden;
}
.rightd {
  white-space: nowrap;
  width: 70%;
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding-left: 15px;
  overflow: hidden;
}
.video-details img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(#6c95ff, #7dda0b, #ff0000);
  padding: 2px;
  margin-right: 10px;
}

.video-details h3 {
  margin: 10px 0 5px;
  color: #333;
  width: 80%;

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1.3;
}
.comment {
  font-size: 1.86rem;
  width: 10%;
  overflow: hidden;
}

.video-details p {
  /* margin: 5px 0; */
  margin-top: -10px;
  color: #666;
  font-size: 14px;
}

.views-info {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
}

.views-icon {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
/* Auth.css */

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-field {
  margin-bottom: 10px;

  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  background-color: #6c95ff;
  color: #ffaf6c;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #45a049;
}

.link-button {
  height: 65px;
  border-radius: 15px;
  background-color: #fff;

  color: #000;
  display: flex;
  align-items: center;
  box-shadow: -22px 22px 44px #bebebe, 22px -22px 44px #ffffff;
  margin-top: 25px;
  gap: 10px;
}
.link-button img {
  width: 32px;
}
@media (max-width: 425px) {
  .link-button {
    width: 330px;
    height: 65px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
  }
  .input-field {
    width: 330px;
  }
}

.link-button:hover {
  background-color: #0b7dda;
}
.comments-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.comment-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.comment-button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
}

.sign-in-message {
  color: #e74c3c;
}

.comment {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.comment-details {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #777;
}
.imgcom {
  border-radius: 50%;
  width: 32px;
}
@media (max-width: 420px) {
  .upl {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
  }
  .upl h2 {
    margin-bottom: 15px;
  }
  input {
    all: unset;
  }
  .upl input {
    width: 100%;
    margin-top: 5px;
    background-color: #fff;
  }
  #desc {
    all: unset;
    margin-top: 5px;
    background-color: #fff;
    height: 140px;

    border-radius: 10px;
    width: 110%;
  }
  .upb {
    margin-bottom: 30px;
  }
  .go {
    margin-bottom: 30px;
    margin-top: -10px;
  }
}
